button#add-all-to-cart {
  display: block;
  width: 80%;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}
#favorite-page-container {
  margin-top: 23%;
  // width: 100vw;
  height: 68vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 3%;
  // #products-in-favorite {
  //   margin-top: 0%;
  //   width: 100vw;
  // }
}
