@import "../../assets/scss/styles";

.form-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 287px;
  height: 440px;
  flex: none;
  flex-grow: 1;

  a {
    color: rgba(36, 36, 36, 1);
    text-decoration: none;
  }

  .input-with-info-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 89%;
    height: 10%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;

    .input-with-label {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      label {
        padding: 5px;
        font-size: 0.8em;
        color: $lighter-grey;
      }

      input {
        padding: 0 5px 5px 5px;
        width: 100%;
        height: 70%;
        border: none;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1.025em;
      }

      input:focus {
        outline: none;
      }

      datalist {
        vertical-align: middle;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  #name-input {
    order: 0;
  }

  #already-have-account-p {
    color: $lighter-grey;
    font-size: 0.85em;
  }
}
