#navbar-component-container {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;

  #links-container {
    width: 90%;
    display: flex;
    justify-content: start;
    padding-bottom: 30px;
    gap: 20%;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-icon {
    font-size: 1.6em;
    padding: 50%;
  }
  a {
    color: #999999;
    text-decoration: none;
  }
}
